@model WebBanVali.Models.tDanhMucSP

@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>DeleteProduct</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tDanhMucSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NganLapTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganLapTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanNang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanNang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoNoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoNoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDacTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDacTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBaoHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBaoHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiThieuSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiThieuSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChietKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tChatLieu.ChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tChatLieu.ChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tHangSX.HangSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tHangSX.HangSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tKichThuoc.KichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tKichThuoc.KichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tLoaiDT.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tLoaiDT.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tLoaiSP.Loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tLoaiSP.Loai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tQuocGia.TenNuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tQuocGia.TenNuoc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
